In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\A BOLARINWA\Desktop\My Jupyter\FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin1')

# Brief Overview of the dataset

In [3]:
df.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [4]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
df.shape

(60943, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

# Total sum of Animal Fat produced in 2014 and 2017 respectively

In [7]:
df[df['Item'] == 'Animal fats'][['Y2014', 'Y2017']].sum()

Y2014    209460.54
Y2017    269617.53
dtype: float64

# Percentage of missing data in 2016

In [8]:
df['Y2016'].isna().sum()

1535

In [9]:
df['Y2016'].count()

59408

In [10]:
(1535/59408)*100

2.583827093994075

# Year with the highest Import Quantity

In [11]:
df[df['Element'] == 'Import Quantity'][['Y2015', 'Y2016', 'Y2017', 'Y2018']].sum().nlargest()

Y2017    294559.09
Y2018    287997.09
Y2016    286582.78
Y2015    267018.46
dtype: float64

# Total Production in 2014

In [12]:
df[df['Element'] == 'Production'][['Y2014']].sum()

Y2014    1931287.75
dtype: float64

# Element with the second highest sum in 2018

In [13]:
df.groupby('Element')['Y2018'].sum().nlargest()

Element
Domestic supply quantity         2161192.10
Production                       2075072.89
Food                             1303841.28
Total Population - Both sexes    1140605.00
Food supply (kcal/capita/day)     455261.00
Name: Y2018, dtype: float64

# Element with the third lowest sum in 2018

In [14]:
df.groupby('Element')['Y2018'].sum().nsmallest()

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Name: Y2018, dtype: float64

# Total Import Quantity in Algeria in 2018

In [15]:
df[(df['Element'] == 'Import Quantity') & (df['Area'] == 'Algeria')]['Y2018'].sum()

36238.29

# Total number of distinct Countries in the dataset

In [16]:
df['Area'].nunique()

49